In [2]:
import pandas as pd 
import requests as re
from bs4 import BeautifulSoup as soup

In [86]:
player_list_test = open('Player List_files/player_list.csv')

In [87]:
print(player_list_test)

<_io.TextIOWrapper name='Player List_files/player_list.csv' mode='r' encoding='UTF-8'>

1. Drop the team name column from the file 
2. Use the ootp browser ui thing or from fangraphs or baseball reference get each teams active roster 
3. Figure out the best way to make a new columns in the dataframe so we can add in division and league columns
4. Create a function that goes through each player in the dataframe and checks to see which roster they are on 
5. based on which roster they are on, assign an abbrieviated league and division tag to the columns and row associated with the current player 
6. continue with the rest of the project

In [46]:
# Create a pandas dataframe called 'data' using the read csv function to convert the csv into a df

player_list = pd.read_csv('Player List_files/player_list.csv')

In [48]:
player_list = player_list.rename(columns={'Player List':'ID', 'Unnamed: 1':'POS', 'Unnamed: 2':'Name', 'Unnamed: 3':'Team','Unnamed: 4':'Level', 'Unnamed: 5':'Age', 'Unnamed: 6':'Nationality', 'Unnamed: 7':'Bats', 'Unnamed: 8':'Throws'})

In [50]:
player_list = player_list.drop(labels=0, axis=0)

In [51]:
player_list.head(2)

,ID,POS,Name,Team,Level,Age,Nationality,Bats,Throws
1,205,CF,Ronald Acuna Jr.,Atlanta,Major League,23,VEN,Right,Right
2,32810,2B,Ozzie Albies,Atlanta,Major League,24,CUR,Switch,Right

In [55]:
player_list = player_list.drop(columns=['Level'])

In [128]:
#player_list.loc[1,['Team']] = ['Braves']

In [129]:
player_list_dict = dict(zip(player_list.ID, player_list.Name))

'Ronald Acuna Jr.'